###Inicio

In [1]:
x = "Ola"
print(x)

[1] "Ola"

In [2]:
nome = readline("Qual e seu nome? ")
print(nome)

Qual e seu nome? viini
[1] "viini"

In [11]:
caract = 15
class(caract) 
#retorna os tipos das variaveis

[1] "numeric"

####Vetor

In [17]:
vec = 3
is.vector(vector)
#Retorna true para o vetor

[1] TRUE

In [19]:
vec = readline("Informe os vetores")
print(vec)
#Inserir em vetor

Informe os vetores1, 2, 5, 6, 4, 8, 9
[1] "1, 2, 5, 6, 4, 8, 9"

###Matriz

In [33]:
mat = matrix(c(2, 4, 5, 6), ncol = 2, nrow = 2, byrow = TRUE)
print(mat)

     [,1] [,2]
[1,]    2    4
[2,]    5    6

###Data Frame

In [35]:
df = data.frame(nome = c("Ana", "Maria", "Vinicio"), 
                idade = c(24L, 14L, 20L),
                Salario = c(1200, 300, 100))

In [36]:
print(df)

     nome idade Salario
1     Ana    24    1200
2   Maria    14     300
3 Vinicio    20     100

###Condicionais

In [44]:
x = 3
y = 6
if(y > x) {
  print("O maior e ... ")
  print(y)
} else {
  print("O maior e ... ")
  print(x)
}

[1] "O maior e ... "
[1] 9

In [46]:
a = 1
b = 3
ifelse(a > b, "A maior que B", "B maior que A")

[1] "B maior que A"

###Funcoes

In [56]:
#funcoes padraos do R
x = c(1, 8, 6, 9, 3, 5, 7, 4, 50)
mean(x) #media
sd(x) #desvio padrao
#head(iris) #primeira linhas do data frame iris
tail(iris) #ultimas linhas do data frame iris

[1] 10.33333

[1] 15.0831

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [59]:
quadrado = function(x) {
  return (x * x)
}
quadrado(5)

[1] 25

In [62]:
maior = function(x, y) {
  ifelse(x > y, return (x), return (y))
}
maior(9, 8)

[1] 9

In [63]:
menor = function(x, y) {
  ifelse(x > y, return (y), return (x))
}
menor(2, 8)

[1] 2

In [72]:
par = function(x) {
  ifelse(x %% 2 == 0, return (TRUE), return (FALSE))
}

In [73]:
par(9)

[1] FALSE

In [85]:
divisivel = function(x, y) {
  ifelse(x %% y == 0 , return (TRUE), return (FALSE))
}

In [86]:
divisivel(4L, 2L)

[1] TRUE

###Instalando Pacotes

In [ ]:
#intala a biblioteca
install.packages("ggplot2", dependencies = TRUE)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘png’, ‘jpeg’, ‘checkmate’, ‘zoo’, ‘matrixStats’, ‘RcppArmadillo’, ‘e1071’, ‘fontBitstreamVera’, ‘fontLiberation’, ‘httpuv’, ‘xtable’, ‘sourcetools’, ‘fastmap’, ‘Formula’, ‘latticeExtra’, ‘acepack’, ‘gridExtra’, ‘data.table’, ‘htmlTable’, ‘viridis’, ‘sp’, ‘mvtnorm’, ‘TH.data’, ‘sandwich’, ‘SparseM’, ‘MatrixModels’, ‘conquer’, ‘classInt’, ‘units’, ‘diffobj’, ‘fontquiver’, ‘freetypeharfbuzz’, ‘shiny’, ‘ggplot2movies’, ‘hexbin’, ‘Hmisc’, ‘mapproj’, ‘maps’, ‘maptools’, ‘multcomp’, ‘profvis’, ‘quantreg’, ‘rgeos’, ‘sf’, ‘vdiffr’


Warning message in install.packages("ggplot2", dependencies = TRUE):
“installation of package ‘units’ had non-zero exit status”
Warning message in install.packages("ggplot2", dependencies = TRUE):
“installation of package ‘conquer’ had non-zero exit status”
Warning message in install.packages("ggplot2", dependencies = TRUE):
“installation of package ‘classInt’ had non-zero exit status”

In [ ]:
#Carregado o pacote
library(ggplot2)

### END TO END COM Shiny

In [ ]:
#instalando pacotes
install.packages("shiny")
install.packages("sets")