In [25]:
from pymongo import MongoClient

In [26]:
uri = 'mongodb://root:example@localhost:27017/'

client = MongoClient(uri)

database = client['users']
collection = database['user']

# Operators

<img src='img/operators.png'>

## 1.0 Functions to mongo

In [123]:
def insert(**args):
    collection.insert(args)


def read(**args):
    return collection.find(args)

def read_for_age(age):
    return collection.find({'age': age})

def read_for_age_with_operator(op, age):
    return collection.find({'age': {op: age}})

def update(args):
    collection.update(args[0], args[1])

def delete(args):
    collection.remove(args)

## 2.0 Insert

In [111]:
# Inserindo valores
values = {"name": "Makson", "surname": "Vinicio", "age": 20}
insert(**values)

/tmp/ipykernel_36320/2014576710.py:2: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  collection.insert(args)

## 3.0 Search all documents with age greater than 20 age

In [42]:
# Buscar todos registros maiores que 20 anos
list(read_for_age_with_operator('$gt', 20))

[{'_id': ObjectId('61c666a0dae117d4c7a8b004'),
  'name': 'Makson',
  'surname': 'Vinicio',
  'age': 28},
 {'_id': ObjectId('61c666a8dae117d4c7a8b006'),
  'name': 'Makson',
  'surname': 'Vinicio',
  'age': 21}]

## 4.0 Read all values

In [44]:
list(read(name="Makson"))

[{'_id': ObjectId('61c66428dae117d4c7a8afff'),
  'name': 'Makson',
  'surname': 'Vinicio',
  'age': 20},
 {'_id': ObjectId('61c66519dae117d4c7a8b003'),
  'name': 'Makson',
  'surname': 'Vinicio',
  'age': 20},
 {'_id': ObjectId('61c666a0dae117d4c7a8b004'),
  'name': 'Makson',
  'surname': 'Vinicio',
  'age': 28},
 {'_id': ObjectId('61c666a4dae117d4c7a8b005'),
  'name': 'Makson',
  'surname': 'Vinicio',
  'age': 17},
 {'_id': ObjectId('61c666a8dae117d4c7a8b006'),
  'name': 'Makson',
  'surname': 'Vinicio',
  'age': 21},
 {'_id': ObjectId('61c666d4dae117d4c7a8b007'),
  'name': 'Makson',
  'surname': 'Vinicio',
  'age': 21}]

## 5.0 Real all valeus with age equal to 20 age

In [83]:
list(read_for_age(20))

[{'_id': ObjectId('61c66428dae117d4c7a8afff'),
  'name': 'Makson',
  'surname': 'Vinicio',
  'age': 20}]

## 6.0 Update first document with age equal to 20 age

In [114]:
values_to_update = ({"age": 20}, {"$set": {"age": 21}})
update(values_to_update)

/tmp/ipykernel_36320/2014576710.py:15: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  collection.update(args[0], args[1])

In [115]:
list(read_for_age(20))

[{'_id': ObjectId('61c66b79dae117d4c7a8b00c'),
  'name': 'Makson',
  'surname': 'Vinicio',
  'age': 20}]

## 7.0 Delete all documents with age equat to 20 age

In [124]:
values_to_delete = ({"age": {"$eq": 20}})
delete(values_to_delete)

/tmp/ipykernel_36320/442354114.py:18: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  collection.remove(args)

In [125]:
list(read_for_age(20))

[]

In [126]:
list(read_for_age(21))

[{'_id': ObjectId('61c66b76dae117d4c7a8b009'),
  'name': 'Makson',
  'surname': 'Vinicio',
  'age': 21},
 {'_id': ObjectId('61c66b77dae117d4c7a8b00a'),
  'name': 'Makson',
  'surname': 'Vinicio',
  'age': 21},
 {'_id': ObjectId('61c66b79dae117d4c7a8b00b'),
  'name': 'Makson',
  'surname': 'Vinicio',
  'age': 21}]