In [4]:
from pycaret.classification import *
from pycaret.datasets import get_data

In [5]:
data = get_data('credit')

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,20000,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,90000,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
2,50000,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
3,50000,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
4,50000,1,1,2,37,0,0,0,0,0,0,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0

In [7]:
data.shape

(24000, 24)

In [8]:
data.isna().sum()

LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_1        0
PAY_2        0
PAY_3        0
PAY_4        0
PAY_5        0
PAY_6        0
BILL_AMT1    0
BILL_AMT2    0
BILL_AMT3    0
BILL_AMT4    0
BILL_AMT5    0
BILL_AMT6    0
PAY_AMT1     0
PAY_AMT2     0
PAY_AMT3     0
PAY_AMT4     0
PAY_AMT5     0
PAY_AMT6     0
default      0
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LIMIT_BAL  24000 non-null  int64
 1   SEX        24000 non-null  int64
 2   EDUCATION  24000 non-null  int64
 3   MARRIAGE   24000 non-null  int64
 4   AGE        24000 non-null  int64
 5   PAY_1      24000 non-null  int64
 6   PAY_2      24000 non-null  int64
 7   PAY_3      24000 non-null  int64
 8   PAY_4      24000 non-null  int64
 9   PAY_5      24000 non-null  int64
 10  PAY_6      24000 non-null  int64
 11  BILL_AMT1  24000 non-null  float64
 12  BILL_AMT2  24000 non-null  float64
 13  BILL_AMT3  24000 non-null  float64
 14  BILL_AMT4  24000 non-null  float64
 15  BILL_AMT5  24000 non-null  float64
 16  BILL_AMT6  24000 non-null  float64
 17  PAY_AMT1   24000 non-null  float64
 18  PAY_AMT2   24000 non-null  float64
 19  PAY_AMT3   24000 non-null  float64
 20  PAY_AMT4   24000 non-null  float64
 21  PAY_AMT5   24000 non-null  float64
 22  PAY_AMT6   24000 non-null  float64
 23  default    24000 non-null  int64
dtypes: float64(12), int64(12)
memory usage: 4.4 MB

# Create Model

In [11]:
setup = setup(data=data, target='default', session_id=42)

# Comparing All Models

In [12]:
best_model = compare_models()

IntProgress(value=0, description='Processing: ', max=79)

Initiated  . . . . . . . . . . . . . . . . . .                   20:50:26
Status     . . . . . . . . . . . . . . . . . .           Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Extreme Gradient Boosting

In [ ]:
print(best_model)

# Some Models

## Ridge Classifier

In [ ]:
ridge = create_model('ridge')

In [ ]:
print(ridge)

##  K Neighbors Classifier

In [ ]:
knn = create_model('knn')

In [ ]:
print(knn)

## Random Forest Classifier

In [ ]:
clf = create_model('rf')

In [ ]:
print(clf)

# Tune Models

## Ridge Classifier

In [ ]:
tuned_ridge = tune_model(ridge)

In [ ]:
print(tuned_ridge)